<% provide(:title, "Get long URL") %>
<h1>Get long URL</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:url, url: show_long_url_path) do |f| %>
      <%= f.label :short_url %>
      <%= f.text_field :short_url, class: 'form-control' %>

      <%= f.submit "Get Long URL", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>