<% provide(:title, "Search") %>
<h1>Search</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_for(:url, url: urls_search_result_path) do |f| %>
    
      <%= f.label :keyword %>
      <%= f.text_field :keyword, class: 'form-control' %>

      <%= f.submit "Search", class: "btn btn-primary" %>
    <% end %>
  </div>
</div>