<html>
  <head>
    <title>Home | Ruby on Rails Tutorial Sample App</title>
  </head>
  <body>
    <h1>
      <br>
      <br>
      This is the home page for the URL Shortener application. 
      <br>
      <br>
      <br>
      Please
    	<a href="http://localhost:3000/signup/">Signup</a>
    	or
    	<a href="http://localhost:3000/login/">Login</a>
    </h1>
  </body>
</html>

