<footer class="footer">
  <small>
    <a href="https://guides.rubyonrails.org//">Ruby on Rails Guide</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   users_about_path %></li>
      <li><%= link_to "Contact", 'https://www.facebook.com/shobhit.upadhyay.376' %></li>
      <li><a href="http://news.railstutorial.org/">News</a></li>
    </ul>
  </nav>
</footer>